h1, h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
  color: #444;
}

.company {
  font: 60px 'Pincoyablack', Arial, sans-serif;
  color: black;
  letter-spacing: 0;
  margin-bottom: 0px;
}

.location {
  letter-spacing: 1px;
  font-size:12px

}

.location a { text-decoration: none }
.location a:hover { text-decoration: underline }

ul.links {
  list-style: none;
}

ul.links li{
  color: black;
  padding-left: 21px
}

.about p{ font-size: 1.5em; line-height: 1.6em}
.about a{ text-decoration: none; font-weight: bold}
.about a:hover{ text-decoration: underline }

.links a{ text-decoration: none }

a{ color: black }

.mrloop {
  color: black;
  font-weight: bold;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

@media only screen and (max-width: 549px){
  ul.links li{
    display: inline-block;
    padding-left: 0px;
    padding-right: 21px;
  }
  .about p{ font-size: 1.2em; line-height: 1.3em}
}

/* #Font-Face
================================================== */

@font-face {
    font-family: 'Pincoyablack';
    src: url('../fonts/Pincoyablack/pincoyablack-webfont.eot');
    src: url('../fonts/Pincoyablack/pincoyablack-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Pincoyablack/pincoyablack-webfont.woff') format('woff'),
         url('../fonts/Pincoyablack/pincoyablack-webfont.ttf') format('truetype'),
         url('../fonts/Pincoyablack/pincoyablack-webfont.svg#PincoyablackBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'mrloop';
  src: url('../fonts/mrloop.eot?39991697');
  src: url('../fonts/mrloop.eot?39991697#iefix') format('embedded-opentype'),
        url('../fonts/mrloop.woff?39991697') format('woff'),
        url('../fonts/mrloop.ttf?39991697') format('truetype'),
        url('../font<i class="demo-icon icon-paper-plane"></i>s/mrloop.svg?39991697#mrloop') format('svg');
  font-weight: normal;
  font-style: normal;
}


.icon {
  font-size: 3rem;
  font-family: "mrloop";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
