h1, h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
  color: #444;
}

.company {
  font: 60px 'Pincoyablack', Arial, sans-serif;
  color: black;
  letter-spacing: 0;
  margin-bottom: 0px;
}

.location {
  letter-spacing: 1px;
  font-size:12px

}

.location a { text-decoration: none }
.location a:hover { text-decoration: underline }

ul.links {
  list-style: none;
}

ul.links li{
  color: black;
  padding-left: 21px
}

.about p{ font-size: 1.5em; line-height: 1.6em}
.about a{ text-decoration: none; font-weight: bold}
.about a:hover{ text-decoration: underline }

.links a{ text-decoration: none }

a{ color: black }

p
  span.mrloop{ color: black }

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

@media only screen and (max-width: 549px){
  ul.links li{
    display: inline-block;
    padding-left: 0px;
    padding-right: 21px;
  }
  .about p{ font-size: 1.2em; line-height: 1.3em}
}

/* #Font-Face
================================================== */

@font-face {
    font-family: 'Pincoyablack';
    src: url('../fonts/Pincoyablack/pincoyablack-webfont.eot');
    src: url('../fonts/Pincoyablack/pincoyablack-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Pincoyablack/pincoyablack-webfont.woff') format('woff'),
         url('../fonts/Pincoyablack/pincoyablack-webfont.ttf') format('truetype'),
         url('../fonts/Pincoyablack/pincoyablack-webfont.svg#PincoyablackBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}
