:root {
  --body-color: #efefef;
  --font-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-color: black;
    --font-color: #efefef;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h5 {
  margin: 0 0 3em 0;
}

p {
  font-weight: 400;
}

body {
  font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
  color: var(--font-color);
  background-color: var(--body-color);
  padding: 0;
  margin: 0;
}

main {
  max-width: 1000px;
  margin: auto;
  padding: 0 1.4em;
  display: grid;
  grid-template-rows: auto;
  grid-template-coloums: 1fr;
  grid-template-areas:
    "header"
    "article"
    "aside"
    "footer";
}

header {
  margin-bottom: 2em;
  border-bottom: 1px solid #E1E1E1;
  grid-area: header;
}

article {
  grid-area: article;
}

aside {
  margin-top: 2em;
  grid-area: aside;
}

footer {
  margin-top: 4em;
  border-top: 1px solid #E1E1E1;
  padding-top: 2em;
  grid-area: footer;
}

.company {
  font: 60px 'Pincoyablack', Arial, sans-serif;
  color: var(--font-color);
  letter-spacing: 0;
  margin-bottom: 0px;
}

.location {
  letter-spacing: 1px;
  font-size:12px

}

.location a { text-decoration: none }
.location a:hover { text-decoration: underline }

ul.links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

ul.links li{
  color: var(--font-color);
}

article a{ text-decoration: none; font-weight: bold}
article a:hover{ text-decoration: underline }

article p{ font-size: 1.1em; line-height: 1.4em}

footer {
  font-size: 0.8em;
}

.links a{ text-decoration: none }

a { color: var(--font-color); }

.mrloop {
  color: var(--font-color);
  font-weight: bold;
}

.icon {
  font-size: 2rem;
  font-family: "mrloop";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

@media only screen and (min-width: 549px){
  main {
    grid-template-coloums: 1fr 40px;
    grid-template-areas:
      "header header"
      "article aside"
      "footer footer";
  }

  .icon {
    font-size: 3rem;
  }

  ul.links {
    height: 100%;
    flex-direction: column;
  }

  ul.links li{
    padding-right: 0px;
    padding-left: 21px
  }

  aside {
    margin-top: 0;
  }

  article p{ font-size: 1.5em; line-height: 1.6em}
}

@font-face {
    font-family: 'Pincoyablack';
    src: url('../fonts/Pincoyablack/pincoyablack-webfont.eot');
    src: url('../fonts/Pincoyablack/pincoyablack-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Pincoyablack/pincoyablack-webfont.woff') format('woff'),
         url('../fonts/Pincoyablack/pincoyablack-webfont.ttf') format('truetype'),
         url('../fonts/Pincoyablack/pincoyablack-webfont.svg#PincoyablackBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'mrloop';
  src: url('../fonts/mrloop.eot?39991697');
  src: url('../fonts/mrloop.eot?39991697#iefix') format('embedded-opentype'),
        url('../fonts/mrloop.woff?39991697') format('woff'),
        url('../fonts/mrloop.ttf?39991697') format('truetype'),
        url('../font<i class="demo-icon icon-paper-plane"></i>s/mrloop.svg?39991697#mrloop') format('svg');
  font-weight: normal;
  font-style: normal;
}


